<!-- <ul>
  <li *ngFor = "let data of students">{{data.id}}</li>
  <li *ngFor = "let data of students">{{data.name}}</li>
  <li *ngFor = "let data of students">{{data.email}}</li>
</ul> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of students">
      <th scope="row">{{data.id}}</th>
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>
      <i (click)="Delete(data.id)" class="fa fa-trash"></i>
      &nbsp;
      <a routerLink="/edit/{{data.id}}"><i class="fa fa-edit"></i></a>
    </td>

    </tr>

  </tbody>
</table>
