<h3>Edit Students</h3>
<div *ngIf= "message"class="alert alert-success" role="alert">
  A simple success alert—check it out!<button (click)="removeX()">X</button>
</div>
<form [formGroup]="UpdateStd" (ngSubmit)="EditStd()">
  <div class="mb-3">
        <label  class="form-label">Email address</label>
        <input type="email" class="form-control" placeholder="Enter the Email" formControlName="email">
  </div>
  <div class="mb-3">
        <label  class="form-label">Enter the name</label>
        <input type="text" class="form-control" placeholder="Enter the Name" formControlName="name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
